
.meals{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,600px);
    gap:60px;
    padding: 0% 8%;
    margin-bottom: 50px;
    margin: auto;    
}
.image{
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}
.image img{
    width: 90%;
    height: 350px;

}
.img2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    justify-content: space-between;
    margin-left: 40px;
   
}

.img2 >button{
    width: 60%;
    height: 50px;
    border: none;
    padding: auto;
    border-radius: 10px;
}


.activepage{
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.484);
    padding: 0px 7px;
    color: #676e7a;
    cursor: pointer;
    background-color: white;
}
.Pagination{
    height: 30px;
    border: 1px solid rgb(56, 203, 81);
    /* background-color: #fcfcfc; */
    display: flex;
    padding: 7px 8%;
    justify-content: space-between;
    color: #676e7a;
    margin-bottom: 10px;
}
.Pagination button{
    padding: 5px 15px;
    color: #676e7a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.Pagination div{
    display: flex;
    gap: 10px;
}
.notactivepage{
    color: blue;
    cursor: pointer;
}
