.footer {
    color: white;
    background-color: #2bb673;
    padding: 10px;
    font-size: 13px;
    margin-top: 50px;
}
.footer p{
    color: white;
}
.footercontener {
    /* border: 1px solid salmon; */
    display: flex;
    padding: 0% 9%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footercontener h2 {
    color: white;
    font-weight: 500;
}
@media all and (max-width:800px){
    .footer {
        font-size: 8px;
    }
}
@media all and (max-width:600px){
    .footer {
        font-size: 7px;
    }
}
@media all and (max-width:400px){
    .footer {
        font-size: 5px;
    }
}