.moment {
  /* height: 400px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 40px;
}
.live {
  display: flex;
  justify-content: space-between;
}
a {
  margin-left: 30px;
}
.mom {
  display: grid;
  height: 300px;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
}
.imgs img {
  height: 240px;
  width: 100%;
}

p {
  color: grey;
}
#hot {
  color: blue;
}

@media screen and (max-width: 700px) {
  .moment {
    height: auto;
    display: grid;

    gap: 5px;
  }
  .mom {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  #hot {
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .moment {
    height: auto;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 5px;
  }
  .mom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  #hot {
    display: none;
  }
}
