.mobilappintro{
    /* border: 1px solid red; */
    padding: 0% 8%;
    color: #44444d;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}
.mobilappintro h1{
    padding: 10px 0px;
    font-size: 27px;
}
.mobilappintro p{
    line-height: 40px;
}
.mobilappintro p:last-child{
    color: #9a9a9a;
}
.mobilappmainpic{
    /* border: 1px solid firebrick; */
    width: 70%;
    margin: auto;
}
.mobilappmainpic img{
    margin-top: 50px;
    width: 100%;
}
.mobilapplinks{
    /* border: 1px solid firebrick; */
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 50px 0px;
}
.mobilapplinks a{
    width: 25%;
}