.finder {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 40px;
}
.finders {
  margin-top: 5%;
  margin-left: 20%;
}
.finders > h4 {
  /* margin-left: 170px; */
  color: rgb(110, 105, 105);
}
.finder {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 40px;
}
.finders {
  margin-top: 5%;
  margin-left: 10%;
}
.finders > h4 {
  color: rgb(110, 105, 105);
}
.coupon {
  height: 250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.coupons {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  /* height: 200px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.anju img {
  width: 40%;
  align-self: center;
}
.brought {
  margin-left: 10%;
}

.bottomm > h3 {
  font-size: 20px;
  color: rgb(161, 149, 149);
  margin-left: 60px;
  margin-right: 55px;
  margin-bottom: 20px;
}

.button > button {
  width: 40%;
  height: 80px;
  font-size: 30px;
  background-color: rgb(214, 25, 25);
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin-left: 50px;
}
.button > button:hover {
  cursor: pointer;
  background-color: rgb(211, 86, 86);
}

.save {
  width: 100%;
  background-color: rgb(212, 198, 198);
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .coupon {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
  }
  .coupons {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .brought {
    height: auto;
  }
  .brought img {
    width: 50%;
  }
  .button button {
    margin-right: 90px;
    font-size: 15px;
  }
}

@media screen and (max-width: 340px) {
  .coupon {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 40px;
  }
  .coupons {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .brought {
    height: auto;
  }
  .brought img {
    width: 30%;
  }

  .button button {
    margin-right: 90px;
    font-size: 10px;
  }
}
/* .coupon {
  height: 250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
} */
.coupons {
  width: 100%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.anju img {
  width: 40%;
  margin-top: 30px;
  margin-left: 70px;
}
h4,
p {
  margin-left: 40px;
}

.bottomm > h3 {
  color: rgb(161, 149, 149);
  /* margin: 40px 180px 40px 90px; */
  margin-left: 60px;
  margin-right: 55px;
  margin-bottom: 20px;
}

.button > button {
  width: 40%;
  height: 80px;

  background-color: rgb(214, 25, 25);
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin: auto;
}
.button > button:hover {
  cursor: pointer;
  background-color: rgb(211, 86, 86);
}

.save {
  width: 100%;
  background-color: rgb(212, 198, 198);
  margin-bottom: 30px;
}

/* @media screen and (max-width: 640px) {
  .coupon {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
  }
  .coupons {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
} */
