.moment{
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top:40px;

}
.live{
    display: flex;
    justify-content: space-between;
}
a{
    margin-left: 30px;
}
.mom{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:6px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.imgs img{
    height:240px;
    width: 100%;
  
 
 
}

p{
    color: grey;
    margin-left: 30px;
}

@media screen and (max-width:640px) {
    .mom{
        height: 360px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,350px);
        gap:20px;
        margin-bottom: 100%;
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

    }

    
}
@media screen and (max-width:320px) {
    .mom{
        height: 360px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        /* grid-template-rows: repeat(5,350px); */
        gap:20px;
        margin-bottom: 100%;
    }

    
}